.red {
  color: #FF0000;
}
.large { font-size: 130% }
.small { font-size: 70% }
.tiny  { font-size: 40%}
.remark-slide-content {
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
}